<html>
    <head>
    <title>This is <%= title %></title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="javascripts/gauge.js"></script>
    <script>
      var gauges = [];
      function createGauge(name, label, min, max) {
        var config = {
          size: 120,
          label: label,
          min: undefined != min ? min : 0,
          max: undefined != max ? max : 100,
          minorTicks: 5
        }
        var range = config.max - config.min;
        config.yellowZones = [{ from: config.min + range*0.75, to: config.min + range*0.9 }];
        config.redZones = [{ from: config.min + range*0.9, to: config.max }];

        gauges[name] = new Gauge(name + "GaugeContainer", config);
        gauges[name].render();
      }

      function createGauges() {
        createGauge("memory", "Memory");
        createGauge("cpu", "CPU");
        createGauge("network", "Network");
      }

      function updateGauges() {
        for (var key in gauges) {
          var value = getRandomValue(gauges[key])
          gauges[key].redraw(value);
        }
      }

      function getRandomValue(gauge) {
        var overflow = 0; //10;
        return gauge.config.min - overflow + (gauge.config.max - gauge.config.min + overflow*2) *  Math.random();
      }

      function initialize() {
        createGauges();
        setInterval(updateGauges, 1500);
      }
    </script>
  </head>

  <body onload="initialize()">
    <h2><%= title %></h2>
    <h4><%= desc %></h4>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
    <div>
      <span id="memoryGaugeContainer"></span>
      <span id="cpuGaugeContainer"></span>
      <span id="networkGaugeContainer"></span>
    </div>
  </body>

</html>
